@model ASF.Entities.Order

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row">
        <h2 class="col-md-12">Edit</h2>

        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Order</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderNumber, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Id)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClientId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            Testing
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.OrderDate)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalPrice, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.TotalPrice)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="state">State</label>
                        <div class="col-md-2">
                            <select id="state" name="State"><!-- class="form-control" -->
                                @{ int i = 1; }
                                @foreach (var state in @ViewBag.state) {
                                    <option value="@i" @(Model.State==i ? "selected" : "" ) >@state</option>
                                    i++;
                                }
                            </select>
                        </div>
                    </div>

                    <h4>Details</h4>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in @ViewBag.order.Details)
                            {
                                <tr>
                                    <td>@ViewBag.products[detail.ProductId]</td>
                                    <td>$@detail.Price</td>
                                    <td>@detail.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-4">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
