@model ASF.Entities.Dealer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Dealer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="input-group">
                    <input id="categoryText" type="text" disabled class="form-control" placeholder="Category">
                    <input id="categoryId" type="hidden" name="categoryId" class="form-control" placeholder="Category">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#ModalCategories">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                @*@Html.EditorFor(model => model.CategoryId)
                @Html.ValidationMessageFor(model => model.CategoryId)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" disabled class="form-control" placeholder="Country">
                    <input type="hidden" name="countyId" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#ModalCountry">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                @*@Html.EditorFor(model => model.CategoryId)
                @Html.ValidationMessageFor(model => model.CategoryId)*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TotalProducts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalProducts)
                @Html.ValidationMessageFor(model => model.TotalProducts)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.Rowid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rowid)
                @Html.ValidationMessageFor(model => model.Rowid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedOn)
                @Html.ValidationMessageFor(model => model.CreatedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangedOn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangedOn)
                @Html.ValidationMessageFor(model => model.ChangedOn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangedBy)
                @Html.ValidationMessageFor(model => model.ChangedBy)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="modal fade" id="ModalCategories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Categories</h4>
            </div>
            <div class="modal-body">
                @if (@ViewBag.categories.Count > 0) {
                    <div class="row">
                        @foreach (var category in @ViewBag.categories) {
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="category" value="@category.Id" />@category.Name
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                } else {
                    <div>There are no categories.</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalCountry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Country</h4>
            </div>
            <div class="modal-body">
                @if (@ViewBag.countries.Count > 0)
                {
                    <div class="row">
                        @foreach (var country in @ViewBag.countries)
                        {
                            <div class="col-md-4">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="category" value="@country.Id" />@country.Name
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div>There are no categories.</div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(function () {

            $(".save", "#ModalCategories").on("click", function () {
                $("#categoryId").val($("[name='category']:checked").val());
                $("#categoryText").text($("[name='category']:checked").parent().text());
            });

        });
    </script>
}
